<ul class='crud-menu-btn list-inline float-right'>
  <li class="list-inline-item">
    <%= link_to bookmark_path(current_user.bookmarks.find_by(board_id: board.id)), id: "js-bookmark-button-for-board-#{board.id}", method: :delete do %>
      <%= icon 'fa', 'star' %>
    <% end %>
  </li>
</ul>