<% content_for :page_title do %>
  掲示板作成 | RUNTEQ BOARD APP
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title')%></h1>
      <%= render 'form', { board: @board } %>
    </div>
  </div>
</div>